.page {
  color: rgba(117, 117, 117, 1);
}
.list {
  list-style: none;
}
.tittle-color {
  color: rgba(33, 33, 33, 1);
}
.header-color {
  background: rgba(255, 255, 255, 1);
}
/* --secondary-text-color: rgba(117, 117, 117, 1); */
/* --primary-accent-color: #2196f3; */
/* --primary-background-color: #e5e5e5;-- */
/* secondary-background-color: #f5f4fa; */
/* footer-color: #2f303a; */
